.navbar {
    flex-direction: row;
    z-index: 99;;
    ul {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        flex-grow: 1;
        height: 100%;
        li {
            width: 5em;
            text-align: center;
            margin: auto 1em;
            a {
                font-weight: bold;
                text-align: center;
                z-index: 0;
                font-size: 1.125em;
                letter-spacing: -0.045em;
                cursor: pointer;
                position: relative;
                margin-left: 50px;
                &::before {
                    content: '';  
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 1.8em;
                    display: block;
                    position: relative;
                    height: 0;
                    border: 0.125em transparent solid;
                    border-radius: 0.125em;
                    @include transition(0.2s ease-in-out);
                }
                &:hover {
                    &::before {
                        height: 0.3em;
                        border: 0.125em $colour-black solid;
                        @include transition(0.1s ease-in-out);
                    }
                }
            }
            .active {
                &::before {
                    height: 0.3em;
                        border: 0.125em $colour-black solid;
                        @include transition(0.3s ease-in-out);
                }
            }
        }
    }
}
